---
import Layout from "../layouts/Layout.astro";


import Aside from '../components/aside.astro';
import Card from '../components/card.astro';
import ItemsContainer from '../components/items-container.astro';
import Main from '../components/main.astro';

// import { bracelets } from "../stores/bracelets";
import products from '../../public/data.json';

const bracelets = products.filter((item)=> item.category === "Bracelet")
---

<Layout title="Bracelets">

    <Main>
        <Aside/>
        <h1>Bracelets</h1>

        <ItemsContainer>

            {
                bracelets.map((item)=>(
                    <Card imageName={item.imageName} description={item.description} name={item.name} category={item.category} price={item.price}/>
                ))
            }

        </ItemsContainer>
    </Main>


</Layout>

<style is:global>

    h1 {
        text-align: center;
        font-size: 5.2rem;
        margin-top: 4rem;
        font-weight: bold;
    }


</style>

