---
import Layout from "../layouts/Layout.astro";


import Aside from '../components/aside.astro';
import Card from '../components/card.astro';
import ItemsContainer from '../components/items-container.astro';
import Main from '../components/main.astro';

// import { bracelets } from "../stores/bracelets";
import { data } from "../../public/data";
import PageTitle from "../components/page-title.astro";

const bracelets = data.filter((item)=> item.category === "Pulsera")
---

<Layout title="Bracelets">

    <Main>
        <Aside/>
        <PageTitle name="Pulseras"/>

        <ItemsContainer>

            {
                bracelets.map((item)=>(
                    <Card imageName={item.imageName} description={item.description} name={item.name} category={item.category} price={item.price}/>
                ))
            }

        </ItemsContainer>
    </Main>


</Layout>



