---
import Aside from "../components/aside.astro";
import Card from "../components/card.astro";
import ItemsContainer from "../components/items-container.astro";
import Main from "../components/main.astro";
import Layout from "../layouts/Layout.astro";

import { data } from "../../public/data";

const earrings = data.filter((item)=> item.category === "Areta")
---

<Layout title="Earrings">

    <Main>
        <h1>Earrings</h1>
        <Aside/>

        <ItemsContainer>
            {earrings.map((item)=>(
                <Card imageName={item.imageName} description={item.description} category={item.category} price={item.price} name={item.name}/>
            ))}


        </ItemsContainer>
    </Main>
</Layout>

<style>
    h1 {
        text-align: center;
        font-size: 5.2rem;
        margin-top: 4rem;
        font-weight: bold;
    }
</style>

