---
import Aside from "../components/aside.astro";
import Main from "../components/main.astro";
import Layout from "../layouts/Layout.astro";

import { data } from "../../public/data";
import Card from "../components/card.astro";
import ItemsContainer from '../components/items-container.astro';
import PageTitle from "../components/page-title.astro";

const necklaces = data.filter((item) => item.category === "Collar")

---

<Layout title="Necklaces">
    <Main>
        <PageTitle name="Collares"/>
        <Aside/>

        <ItemsContainer>
            {
                necklaces.map(item=> (
                    <Card description={item.description} imageName={item.imageName} category={item.category} name={item.name} price={item.price}/>
                ))
            }
        </ItemsContainer>
    </Main>
</Layout>
