---
import Aside from "../components/aside.astro";
import Main from "../components/main.astro";
import Layout from "../layouts/Layout.astro";

import image01 from "../assets/necklace/image-01.jpg";
import image02 from "../assets/necklace/image-02.jpg";
import image03 from "../assets/necklace/image-03.jpg";
import image04 from "../assets/necklace/image-04.jpg";
import image05 from "../assets/necklace/image-05.jpg";
import image06 from "../assets/necklace/image-06.jpg";
import Card from '../components/card.astro';
import ItemsContainer from '../components/items-container.astro';
---

<Layout title="Necklaces">
    <Main>
        <Aside/>

        <ItemsContainer>
            <Card imageName={image01} description='image 01'/>
            <Card imageName={image02} description='image 02'/>
            <Card imageName={image03} description='image 03'/>
            <Card imageName={image04} description='image 04'/>
            <Card imageName={image05} description='image 05'/>
            <Card imageName={image06} description='image 06'/>
        </ItemsContainer>
    </Main>
</Layout>

<style is:global>

    h1 {
        text-align: center;
        font-size: 5.2rem;
        margin-top: 4rem;
        font-weight: bold;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
        grid-auto-rows: 1fr;
    } 

    .grid-container .card figure {
        padding: 4rem 6rem;
        transition: all ease 0.3s;
    }

    .grid-container .card figure:hover{
        transform: scale(0.98);
    }

    .grid-container .card figure img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        border-radius: 2rem;
    }

</style>
