---
import Aside from "../components/aside.astro";
import Main from "../components/main.astro";
import Layout from "../layouts/Layout.astro";

import { data } from "../../public/data";
import Card from "../components/card.astro";
import ItemsContainer from '../components/items-container.astro';

const necklaces = data.filter((item) => item.category === "Collar")

---

<Layout title="Necklaces">
    <Main>
        <Aside/>

        <ItemsContainer>
            {
                necklaces.map(item=> (
                    <Card description={item.description} imageName={item.imageName} category={item.category} name={item.name} price={item.price}/>
                ))
            }
        </ItemsContainer>
    </Main>
</Layout>

<style is:global>

    h1 {
        text-align: center;
        font-size: 5.2rem;
        margin-top: 4rem;
        font-weight: bold;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
        grid-auto-rows: 1fr;
    } 

    .grid-container .card figure {
        padding: 4rem 6rem;
        transition: all ease 0.3s;
    }

    .grid-container .card figure:hover{
        transform: scale(0.98);
    }

    .grid-container .card figure img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        border-radius: 2rem;
    }

</style>
