---
import Aside from "../components/aside.astro";
import ItemsContainer from "../components/items-container.astro";
import Main from "../components/main.astro";
import Layout from "../layouts/Layout.astro";

import { data } from "../../public/data";
import Card from "../components/card.astro";

const rings = data.filter(item => item.category === "Anillo")
---

<Layout title="Rings">
    <Main>
        <h1>Rings</h1>
        <Aside/>

        <ItemsContainer>
            {
                rings.map(item => (
                    <Card description={item.description} imageName={item.imageName} category={item.category} name={item.name} price={item.price}/>
                ))
            }
        </ItemsContainer>
    </Main>
    
</Layout>

<style>
    h1 {
        text-align: center;
        font-size: 5.2rem;
        margin-top: 4rem;
        font-weight: bold;
    }
</style>

